/* Root Css */
*:focus{
  outline:none;
}

/* Header Code Start Here :- */
.header-wrapper{
    display: flex;
    justify-content: space-between;
}
.header-wrapper ul{
    display: flex;
}
.header-wrapper ul li{
    list-style-type:none;
    padding: 5px;
}
.header-wrapper ul li a{
    text-decoration: none;
}
.header-wrapper ul li button{
    background-color: transparent;
    border: none;
    color:blueviolet ;
    font-size: 15px;
    cursor: pointer;
}
/* Header Code End Here :- */

/* Footer code Start here */
.footer-wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
    background-color: #fff;
}
/* Footer Code End Here :- */


/* All input css start here */
.input-wrapper{
    margin: 10px;
}
.input-field{
    width: 200px;
    height: 30px;
}
.button{
  width: 200px;
  height: 30px;
}
.container{
    text-align: center;
}
.button-link{
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: #25aee4;
    margin: 20px;
}
.input-error{
    position: absolute;
    padding: 8px;
    color: red;
    font-size: 13px;
}

table, th, td{
    border: 2px solid #000;
    border-collapse:collapse;
    padding: 10px;
}
table, td, button{
    margin: 5px;
}
/* All input css end here */


/* Main Page Css start here */
 .main-page-banner, .restuarant-page-banner{
    background-image: url('/assets/banner-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding:30px;
    height: 230px;
    color: #fff;
    text-align: center;
 }
 .input-wrapper{
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: auto;
    width: 70%;
 }
 .select-input{
    height: 40px;
    border: none;
    width: 30%;
 }
 .search-search{
    height: 40px;
    border: none;
    width: 65%;
    border-left: 1px solid #ccc;
    padding-left: 15px;
 }

/* Main Page Css end here */

/* loaction list Css start Here */
.location-list{
    color: black;
    list-style-type: none;
    text-align: left;
    position: absolute;
    background-color: #fff;
    padding: 0;
    margin: 0;
    margin-left:-5px ;
    border: 1px solid #ccc;
}
.location-list li{
    width: 100px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
/* loaction list Css End Here */

/* restuarant cards css start here */
   .restuarant-list-container{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     margin-top: 40px;
     margin-bottom: 50px;
   }
   .restuarnt-wrapper{
    width: 45%;
    background-color: orange;
    margin: 10px;
    padding: 10px;
    border: 1px solid aaa;
    border-radius: 5px;
    cursor: pointer;
   }
   .restuarnt-wrapper .heading-wrapper , .restuarnt-wrapper .address-wrapper {
     padding-left: 15px;
     display: flex;
     justify-content: flex-start;
   }
   .restuarnt-wrapper h5{
    margin-left: 15px;
   }
   .restuarnt-wrapper address{
    margin-left: 5px;
   }
   .restuarant-page-banner h1{
    font-family:60px;
   }

/* restuarant cards css end here */

/* restuarant details page css start here */
.details-wrapper{
    display: flex;
    background-color: orange;
}
.details-wrapper h4{
    width: 50%;
}
.food-item-wrapper{
    margin-top: 50px;
    margin-top: 50px;
}
.food-item-wrapper .list-item{
    padding: 5px;
    color: orange;
    font-weight: bold;
    border-bottom: 1px solid orange;
    display: flex;
    text-decoration: none;
}
.food-item-wrapper .list-item button{
    color: white;
    border: none;
    background-color: orange;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}
.food-item-wrapper .list-item .item-image{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    padding-right: 20px;
}
.food-item-wrapper .list-item .description{
    font-weight: lighter;
}
/* restuarant details page css end here */
